.apt_generated/
.bin
.checkstyle
.classpath
.DS_Store
.ecbuild/
.gradle/
.idea/
.project
.settings/
*.pyc
*.swp
**/.factorypath
**/*.iml
**/*.ipr
**/*.iws
**/*.log
**/*.log.gz
**/var/run
*/bin
*/generated/
build
buildlib
classes/
docs/snippets/bin
generated_src/
generated_test/
generated_tests/
generated_testSrc/
lib
out/
project
target

magritte-bootvisor-jre/var
magritte-bootvisor-upgrader/service

gofigure_generated/
containers/containers.yml
